<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Discovery Land company</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="../style/experience.css">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">


    </head>
    <body>
        
<nav class="nav">
    <div class="img-logo">
    
    <a href="../home.html">    <img src="../assests/logo-light.svg" alt="Discovery Land Co Logo"></a>
    </div>

    <div class="nav-right-container">
        <ul class="nav-center">
            <li><a href="#">About DLC</a></li>
            <li><a href="#">Our Worlds</a></li>
            <li><a href="#">Real Estate</a></li>
            <li><a href="experience.html">Experiences</a></li>
            <li><a href="#">Company</a></li>
            <li><a href="gallery.html">Gallery</a></li>
        </ul>

        <div class="nav-right">
            <span class="menu-icon"></span>
            <span class="menu-icon"></span>
        </div>
    </div>
</nav>
<div class="experience-video">
<video src="https://player.vimeo.com/progressive_redirect/playback/1039078963/rendition/1080p/file.mp4?loc=external&signature=54a037f4a659184977b633757a565c965c3d7e951e207dd2f0fe59b85bce0386" class="object-fit-cover"  loop muted autoplay></video>
<div class="image-text">
  <span class="line1">Unforgettable</span><br>
  <span class="line2">experiences</span>
</div>
</div>
<div class="quote-container">
    <div class="quote-content">
        <h2>Memorable days. Exceptional nights. We believe it’s our <em>mission</em> to make every minute<em> matter</em>. So you can live your life to the fullest, with the <em>people</em> closest to you.</h2>
    </div>
</div>
<div class="divider-svg">
    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 0L14.5 9.5L24 12L14.5 14.5L12 24L9.5 14.5L0 12L9.5 9.5L12 0Z" fill="#1a1a1a"/>
    </svg>
</div>

<div class="exclusive-div">
    <div class="exclusive-content">
        <div class="exclusive-left">
            <p class="mini-tag">Exclusive to</p>
            <p class="main-heading">your world</p>
            <p class="desc-text">
                Our worlds are designed to offer you endless opportunities to share incredible once-in-a-lifetime experiences and adventures every single minute of the day. Each of our settings offer a relaxed sense of community through exceptional clubhouses, world-class golf courses, welcoming staff, and an extensive Outdoor Pursuits program. Create moments of joy and wonder, unforgettable memories, and cherished times together with those who matter most.
        </div>
        <div class="exclusive-right">
            <img src="https://www.datocms-assets.com/128889/1714133418-private-marina-in-lake-tahoe-3.jpg?auto=format&fit=max&h=3000&w=2000" alt="Experience Image" style="width:1134;height:1700">
        </div>
    </div>
</div>

<div class="card-container " >

    <section class="container-fluid position-relative mb-3">
        <div class="row no-gutters">
            <div class="col-lg-8">
                <div class="video-box">
                    <video src="https://player.vimeo.com/progressive_redirect/playback/345773607/rendition/1080p/file.mp4?loc=external&signature=5b81b50f6cc8bdfd4a5d6746b36cf72a961c867c9f722e5959cc242f41dbde63" 
                           autoplay muted loop playsinline class="w-100 h-100 style-video"></video>
                </div>
            </div>
            <div class="col-lg-4 bg-white p-5 card-overlap-right ">
                <h3 class="italic">Golf</h3>
                <p class="text-muted small">We commission the world’s most renowned course
                                            architects to design spectacular golf experiences on
                                            challenging yet incredibly playable 18-hole courses.
                                            Our trademark comfort stations also set new
                                            standards in on-course amenities.</p>
                <span class="btn border rounded-0 px-4 ">Explore</span>
            </div>
        </div>
    </section>

    <section class="container-fluid position-relative pt-5 ">
        <div class="row no-gutters justify-content-end">
            <div class="col-lg-4 bg-white p-5 card-overlap-left">
                <h3 class="italic">Outdoor Pursuits</h3>
                <p class="text-muted small">Our signature Outdoor Pursuits program is designed
                                            for families to create lasting memories together.
                                            Whether you’re trying a new sport or taking a day trip,
                                            our team will ensure you make the most of every
                                            minute with activities designed to help you take
                                            advantage of everything each region has to offer.

</p>
                <span class="btn border rounded-0 px-4 mt-3 mb-3">Explore</span>
            </div>
            <div class="col-lg-8">
                <div class="video-box">
                    <video src="https://www.datocms-assets.com/128889/1765384002-outdoor-pursuits.mp4" 
                           autoplay muted loop playsinline class="w-100 h-100 style-video"></video>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid position-relative mb-5">
        <div class="row no-gutters">
            <div class="col-lg-8">
                <div class="video-box">
                    <video src="https://player.vimeo.com/progressive_redirect/playback/348843769/rendition/1080p/file.mp4?loc=external&signature=d2d0c99f4af5d18da4e6abdbdbb635c1270714b0422926f5bc20c21657206d11" 
                           autoplay muted loop playsinline class="w-100 h-100 style-video mb-3 mt-4"></video>
                </div>
            </div>
            <div class="col-lg-4 bg-white p-5 card-overlap-right">
                <h3 class="italic">Wellness</h3>
                <p class="text-muted small">Unwind at an indulgent spa. Set challenging targets
                                            with a tailor-made fitness plan. Or let our talented
                                            chefs treat you to our flavorful international menus
                                            created using the finest, carefully selected foods
                                            sourced locally from organic farms.</p>
                <span class="btn border rounded-0 px-4 mt-2">Explore</span>
            </div>
        </div>
    </section>

    <section class="container-fluid position-relative pt-5">
        <div class="row no-gutters justify-content-end">
            <div class="col-lg-4 bg-white p-5 card-overlap-left">
                <h3 class="italic">Culinary</h3>
                <p class="text-muted small">A pillar in the Discovery lifestyle, the culinary
                                            experience at every destination is inspired by the land
                                            and crafted by the world’s finest chefs. Every meal
                                            showcases the finest locally grown and organic
                                            produce, and each flavor captures the beauty of the
                                            local culture.</p>
                <span class="btn border rounded-0 px-4 mt-3">Explore</span>
            </div>
            <div class="col-lg-8">
                <div class="video-box">
                    <video src="https://player.vimeo.com/progressive_redirect/playback/1073716307/rendition/1080p/file.mp4?loc=external&signature=4658cd36671a6f3fd50df8ced475bf00c58386cfb04bd1908ea8421bdff8c13b" 
                           autoplay muted loop playsinline class="w-100 h-100 style-video"></video>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid position-relative mb-5">
        <div class="row ">
            <div class="col-lg-8">
                <div style="height:500">
                    <img src="https://www.datocms-assets.com/128889/1745965161-18020_large-1500-x-1500.jpg?auto=format&fit=max&h=3000&w=2000" alt="logo" width="740px" height="740px">
                </div>
            </div>
            <div class="col-lg-4 bg-white p-5 card-overlap-right1">
                <h3 class="italic">Discovery Downtown</h3>
                <p class="text-muted small">Discovery’s city clubs offer a private, welcoming
                                            space for members to come together in the heart of
                                            the city. Designed as a vibrant urban escape, these
                                            clubs provide a relaxed setting to unwind, connect
                                            with friends, and enjoy the best of downtown life.
                                            Whether gathering for casual drinks, hosting a
                                            meeting, or simply taking a break from the city's
                                            energy, members will find a comfortable, elegant
                                            environment that feels like an extension of the
                                            Discovery lifestyle. Access is available to all Discovery
                                            members, bringing the spirit of community to an
                                            exciting, urban backdrop.</p>
                <span class="btn border rounded-0 px-4 mt-3">Explore</span>
            </div>
        </div>
    </section>
</div>

<footer class="footer-dark shutter-footer">

        <div class="footer-wrapper">

            <div class="footer-icon">
                <img src="https://discoverylandco.com/logo-mark.svg" alt="">
            </div>

            <div class="footer-col">
                <p class="footer-heading">GET IN TOUCH</p>
                <p>(480) 624-5200</p>
                <a href="#">info@discoverylandco.com</a>

                <p class="footer-heading mt">REAL ESTATE</p>
                <a href="#">realestate@discoverylandco.com</a>
            </div>

            <div class="footer-col">
                <a href="#">About</a>
                <a href="#">Our Worlds</a>
                <a href="#">Real Estate</a>
                <a href="#">Experiences</a>
                <a href="#" class="active">Gallery</a>
            </div>

            <div class="footer-col">
                <a href="#">Foundation</a>
                <a href="#">Careers</a>
                <a href="#">Company</a>
                <a href="#">Contact</a>
                <a href="#">Privacy</a>
            </div>

        </div>

        <div class="footer-bottom">
            <p>© Discovery Land Company. All rights reserved.</p>
            <p>Site by Outpost</p>
        </div>

    </footer>
<script src="../scripts/experiences.js"></script>
</body>
    </html>