<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discovery Land Company</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="../style/gallery.css">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="nav">
    <div class="img-logo">
       <a href="../home.html"> <img src="../assests/logo-light.svg" alt="Discovery Land Co Logo"></a>
    </div>

    <div class="nav-right-container">
        <ul class="nav-center">
            <li><a href="#">About DLC</a></li>
            <li><a href="/Template/OurWorld.html">Our Worlds</a></li>
            <li><a href="#">Real Estate</a></li>
            <li><a href="/Template/experience.html">Experiences</a></li>
            <li><a href="#">Company</a></li>
            <li><a href="/Template/gallery.html">Gallery</a></li>
        </ul>

        <div class="nav-right">
            <span class="menu-icon"></span>
            <span class="menu-icon"></span>
        </div>
    </div>
</nav>
<section class="gallery-img">
    <img src="https://www.datocms-assets.com/128889/1714657126-bakers-bay-golf-and-ocean-club-copy.jpg?auto=format&fit=max&h=3000&w=2000">
    <div class="text">
        <h2 class="text">Gallery</h2>
    </div>
</section>

<section class="images-container">
    <div class="gallery-item">
        <img src="https://www.datocms-assets.com/128889/1715090594-lake-view-skiing-in-lake-tahoe-copy.jpg">
        <p>Landscapes</p>
    </div>
    <div class="gallery-item">
        <img src="https://www.datocms-assets.com/128889/1714143802-barefoot-golf-at-gozzer-4.jpg">
        <p>Golf</p>
    </div>
    <div class="gallery-item">
        <img src="https://www.datocms-assets.com/128889/1715090484-wellness-gallery-1_11014826b3e36b3697374f276a89b517-2_210122_210812.jpg">
        <p>Wellness</p>
    </div>
    <div class="gallery-item">
        <img src="https://www.datocms-assets.com/128889/1715090023-stocksy_txp3615512ad2e200_originaldelivery_1580323-1_210301_201432-copy.jpg">
        <p>Outdoor Pursuits</p>
    </div>
    <div class="gallery-item">
        <img src="https://www.datocms-assets.com/128889/1715090539-luxury-clubhouse-yellowstone-club.jpg">
        <p>Clubhouses</p>
    </div>
    <div class="gallery-item">
        <img src="https://www.datocms-assets.com/128889/1714657157-beach-front-dining-with-friends.jpg">
        <p>Lifestyle</p>
    </div>
</section>

<footer class="footer-dark shutter-footer">

        <div class="footer-wrapper">

            <div class="footer-icon">
                <img src="https://discoverylandco.com/logo-mark.svg" alt="">
            </div>

            <div class="footer-col">
                <p class="footer-heading">GET IN TOUCH</p>
                <p>(480) 624-5200</p>
                <a href="#">info@discoverylandco.com</a>

                <p class="footer-heading mt">REAL ESTATE</p>
                <a href="#">realestate@discoverylandco.com</a>
            </div>

            <div class="footer-col">
                <a href="#">About</a>
                <a href="#">Our Worlds</a>
                <a href="#">Real Estate</a>
                <a href="#">Experiences</a>
                <a href="#" class="active">Gallery</a>
            </div>

            <div class="footer-col">
                <a href="#">Foundation</a>
                <a href="#">Careers</a>
                <a href="#">Company</a>
                <a href="#">Contact</a>
                <a href="#">Privacy</a>
            </div>

        </div>

        <div class="footer-bottom">
            <p>© Discovery Land Company. All rights reserved.</p>
            <p>Site by Outpost</p>
        </div>

    </footer>
<script src="../scripts/experiences.js"></script>
</body>
</html>