    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Discovery Land company</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="../style/index.css">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">


    </head>
    <body>
        
<nav class="nav">
    <div class="img-logo">
        <a href="../home.html"><img src="../assests/logo-light.svg" alt="Discovery Land Co Logo"></a>
    </div>

    <div class="nav-right-container">
        <ul class="nav-center">
            <li><a href="#">About DLC</a></li>
            <li><a href="/Template/OurWorld.html">Our Worlds</a></li>
            <li><a href="#">Real Estate</a></li>
            <li><a href="/Template/experience.html">Experiences</a></li>
            <li><a href="#">Company</a></li>
            <li><a href="/Template/OurWorld.html">Gallery</a></li>
        </ul>

        <div class="nav-right">
            <span class="menu-icon"></span>
            <span class="menu-icon"></span>
        </div>
    </div>
</nav>
<div class="image">
<img src="https://www.datocms-assets.com/128889/1714130391-outdoor-adventures-in-the-caribbean.jpg?auto=format&fit=max&h=3000&w=2000" alt="img">
<div class="image-text">
  <span class="line1">Creating your</span><br>
  <span class="line2">perfect world</span>
</div>
</div>

<div class="quote-container">
    <div class="quote-content">
        <h2>
Founded in <em>1994</em> by Mike Meldman, Discovery Land
Company is a US-based real estate developer and
operator of private <em>residential</em> communities and resorts
with a <em>world-renowned</em> portfolio of domestic and
international properties.</h2>    </div>
</div>
<div class="divider-svg">
    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 0L14.5 9.5L24 12L14.5 14.5L12 24L9.5 14.5L0 12L9.5 9.5L12 0Z" fill="#1a1a1a"/>
    </svg>
</div>

<div class="exclusive-div">
    <div class="exclusive-content">
        <div class="exclusive-left">
            <p class="mini-tag">Our Intention</p>
            <p class="desc-text">
                We create unique, members-only settings
                where families can create intergenerational
                memories and enrich their lives amongst
                nature’s exquisite beauty. Everything we do is
                driven by our desire to create one-of-a-kind
                spaces where families can be together.


        </div>
        <div class="exclusive-right">
            <img src="https://www.datocms-assets.com/128889/1714130930-screen-shot-2023-08-29-at-12-12-37-pm_2023-08-29-210633_saef-copy.jpg?auto=format&fit=max&h=3000&w=2000" alt="Experience Image" style="width:1134;height:1700">
        </div>
    </div>
<div class="infinite-slider-window"> 
    <div class="carousel-heading">
    <p class="head">The Discovery Difference </p>
    <!-- <a class="carousel-left"> ←</a>
     <a class="carousel-right">→</a> -->
    </div>
    <div class="slider-track">
        
        <div class="slide"><img src="https://www.datocms-assets.com/128889/1715608233-screen-shot-2023-08-29-at-2-19-53-pm-copy.jpg?fit=max&h=1200&w=1000"></div>
        <div class="slide"><img src="https://www.datocms-assets.com/128889/1716903241-screenshot-2024-05-28-at-10-50-52-copy.jpg?fit=max&h=1200&w=1000"></div>
        <div class="slide"><img src="https://www.datocms-assets.com/128889/1715608261-what_we_do_footer_carousel2-copy.jpg?fit=max&h=1200&w=1000"></div>
        <div class="slide"><img src="https://www.datocms-assets.com/128889/1715608277-screen-shot-2023-08-29-at-12-28-05-pm-copy.jpg?fit=max&h=1200&w=1000"></div>
        <div class="slide"><img src="https://www.datocms-assets.com/128889/1716902984-screenshot-2024-05-28-at-14-29-17-copy.jpg?fit=max&h=1200&w=1000"></div>

        <div class="slide"><img src="https://www.datocms-assets.com/128889/1715608233-screen-shot-2023-08-29-at-2-19-53-pm-copy.jpg?fit=max&h=1200&w=1000"></div>
        <div class="slide"><img src="https://www.datocms-assets.com/128889/1716903241-screenshot-2024-05-28-at-10-50-52-copy.jpg?fit=max&h=1200&w=1000"></div>
        <div class="slide"><img src="https://www.datocms-assets.com/128889/1715608261-what_we_do_footer_carousel2-copy.jpg?fit=max&h=1200&w=1000"></div>
        <div class="slide"><img src="https://www.datocms-assets.com/128889/1715608277-screen-shot-2023-08-29-at-12-28-05-pm-copy.jpg?fit=max&h=1200&w=1000"></div>
        <div class="slide"><img src="https://www.datocms-assets.com/128889/1716902984-screenshot-2024-05-28-at-14-29-17-copy.jpg?fit=max&h=1200&w=1000"></div>

    </div>
</div>
<div id="image">
    <img src="https://www.datocms-assets.com/128889/1715609369-what_we_do_design_hero-copy.jpg?auto=format&fit=max&h=3000&w=2000" alt="logo">
</div>
<div class="story">
    <div class="discoverystory">
        <div class="discoverystory-left">
            <h2>The Discovery Story</h2>
        </div>
        <div class="discoverystory-right">
            <p>For almost three decades, Discovery has built communities that encourage both our development teams and members to dream up and create the most fun experiences imaginable. The first development in Scottsdale set the standard for a Discovery community, complete with a championship golf course, comfort stations brimming with snacks, luxurious residential offerings, five-star service, and more. Since then, each community has built on the fun from the one that came before.</p>
       <button class="play-btn">Play video</button>
        </div>
    </div>
    <div>
        <video src="https://player.vimeo.com/progressive_redirect/playback/693768577/rendition/1080p?loc=external&signature=743a559e2fb05b515a1174d858231524891ed364ba06fbef0529441c8fa7dd6d" muted loop></video>
    </div>

</div>
<script src="/scripts/experiences.js"></script>
    </body>
    </html>