<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discovery Land Co</title>
</head>
<link rel="stylesheet" href="/style/ourWorld.css">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<body>
    <nav class="nav">
    <div class="img-logo">
      <a href="../home.html">  <img src="../assests/logo-light.svg" alt="Discovery Land Co Logo"></a>
    </div>

    <div class="nav-right-container">
        <ul class="nav-center">
            <li><a href="#">About DLC</a></li>
            <li><a href="/Template/OurWorld.html">Our Worlds</a></li>
            <li><a href="#">Real Estate</a></li>
            <li><a href="/Template/experience.html">Experiences</a></li>
            <li><a href="#">Company</a></li>
            <li><a href="/Template/gallery.html">Gallery</a></li>
        </ul>

        <div class="nav-right">
            <span class="menu-icon"></span>
            <span class="menu-icon"></span>
        </div>
    </div>
</nav>
<div class="World">
<div class="row">
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1760554417-astr4165.jpg?fit=max&h=350&w=500">
        <h4>Moncayo Golf & Ocean Club</h4>
        <p>Fajardo,Pureto Rico</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1745433311-25718_large-1500-x-1500.jpg?fit=max&h=350&w=500">
         <h4>Territory 1889 Golf & Lake Club</h4>
        <p>Rathead Lake,Montana</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1726232913-paesaggio_tappainer_2022-copy.jpeg?fit=max&h=350&w=500">
     <h4>Tenuta Toscana</h4>
        <p>Tuscany,Italy</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1749834672-binyan_hhc3121_wardvillageblocke_s020_ext_superman_final5000.jpg?fit=max&h=350&w=500">
         <h4>Mohala</h4>
        <p>Handulu,Hawaii</p>
    </div>
</div>

<div class="row">
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1742426220-horseback.jpg?fit=max&h=350&w=500">
        <h4>crazy mountain ranch</h4>
        <p>Shields Valley,Montana</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1721142462-15507_large-1500-x-1500.jpg?fit=max&h=350&w=500">
         <h4>Maverick Golf & ranch club</h4>
        <p>Fort Worth,Texas</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1717077744-glasert_20220630sr_3213.jpg?fit=max&h=350&w=500">
     <h4>Austin surf club</h4>
        <p>Austin,Texas</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714133620-polo_match_428.jpeg?fit=max&h=350&w=500">
         <h4>Atlantic Fields</h4>
        <p>Hobe Sound,Florida</p>
    </div>
</div>

<div class="row">
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1717077616-matt6402-1.jpeg?fit=max&h=350&w=500">
        <h4>The hills</h4>
        <p>The Hamptons,New York</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714143438-gettyimages-1366370947-2.jpg?fit=max&h=350&w=500">
         <h4>Discovery Dunes</h4>
        <p>Dubai South,United Arab Emirates</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714141127-beach_girl_in_white_001-1-copy.jpg?fit=max&h=350&w=500">
     <h4>Naples beach club </h4>
        <p>Naples Florida</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714142025-ed5eb2-2-copy.jpg?fit=max&h=350&w=500">
         <h4>taymouth castle</h4>
        <p>Perthshire,Scotland</p>
    </div>
</div>

<div class="row">
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714143063-hero-edited-copy.jpg?fit=max&h=350&w=500">
        <h4>Zapotal Golf & beach club</h4>
        <p>Guanacaste,Csta Rica </p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714137207-green_hill_339.jpg?fit=max&h=350&w=500">
         <h4>North shore preserve</h4>
        <p>Kaua'i,Hawaii</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1717077114-screen-shot-2023-08-30-at-3-28-49-pm-copy-2.jpeg?fit=max&h=350&w=500">
     <h4>Costateraa golf and ocean club </h4>
        <p>Comporta,Portugal</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1717077272-playa4-carousel.jpg?fit=max&h=350&w=500">
         <h4>playa grande golf &ocean club</h4>
        <p>Rio San Juan,Dominican Republic</p>
    </div>
</div>

<div class="row">
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1713537827-yellowstone4.jpg?fit=max&h=350&w=500">
        <h4>YellowStone club</h4>
        <p>Big Sky,Montana</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714139116-dji_0374-copy-2.jpg?fit=max&h=350&w=500">
         <h4>James Island</h4>
        <p>British Columbia,Canada</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714554796-dji_0330.jpg?fit=max&h=350&w=500">
     <h4>Barbuda ocean club</h4>
        <p>Barbuda,West Indies</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714554873-golf_0793.jpg?fit=max&h=350&w=500">
         <h4>Troubadoure golf & field club</h4>
        <p>Nashville,Tennessee</p>
    </div>
</div>
<div class="row">
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714554988-vineyard-dining-with-friends-in-austin-copy.jpg?fit=max&h=350&w=500">
        <h4>Driftwoor golf & ranch club</h4>
        <p>Austin,Texas</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714136924-chileno_landscape.jpg?fit=max&h=350&w=500">
         <h4>chileno bay golf & beach golf</h4>
        <p>Cabo San Lucas,Mexico</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714136006-madison-club-golf_2023-08-29-205018_tyso-copy.jpg?fit=max&h=350&w=500">
     <h4>The Madison club</h4>
        <p>La Quinita,California</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714136352-summit7.jpg?fit=max&h=350&w=500">
         <h4>The summit club</h4>
        <p>Las Vegas,Nevada</p>
    </div>
</div>
 
<div class="row">
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714136281-hidwaway-carousel.jpg?fit=max&h=350&w=500">
        <h4>hideway golf club</h4>
        <p>La Quinta,California</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714136435-estancia_sized-copy.jpg?fit=max&h=350&w=500">
         <h4>the estancia club</h4>
        <p>Scottsdale,Arizona</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714136857-eld3-carousel_190708_150708.jpg?fit=max&h=350&w=500">
     <h4>el dorado golf & beach club</h4>
        <p>Los Cabos,Mexico</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714136798-mirabel-carousel1-copy.jpg?fit=max&h=350&w=500">
         <h4>mirabel golf club</h4>
        <p>Scottsdale,Arizone</p>
    </div>
</div>

<div class="row">
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714143802-barefoot-golf-at-gozzer-4.jpg?fit=max&h=350&w=500">
        <h4>Gozzer ranch golf & lake club</h4>
        <p>Coeur d'Alene,Idaho</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714143986-ironhouse-carousel-copy.jpg?fit=max&h=350&w=500">
         <h4>iron horse</h4>
        <p>Whitefish,Montana</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714141265-vaquero-carousel_190704_093940.jpg?fit=max&h=350&w=500">
     <h4>Vaquero golf club</h4>
        <p>Westlake,Texas</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714143564-mountaintop4-carousel.jpg?fit=max&h=350&w=500">
         <h4>Mountaintop</h4>
        <p>Cashiers,North Carolina</p>
    </div>
</div>

<div class="row">
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714135551-bakers-hero.jpg?fit=max&h=350&w=500">
        <h4>baker's bay golf & ocean club</h4>
        <p>great Guana Cay,Bahamas</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714135445-silo-ridge-golf-and-field-club.jpg?fit=max&h=350&w=500">
         <h4>Silo ridge field club</h4>
        <p>America, New York</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714136226-dunedeck-carousel.jpg?fit=max&h=350&w=500">
     <h4>Dune deck</h4>
        <p>Westhampton Beach,New York</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714554390-cordevalle2-carousel-copy.jpg?fit=max&h=350&w=500">
         <h4>CordeValle</h4>
        <p>Silicon Valley,California</p>
    </div>
</div>

<div class="row row1">
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714135216-kukio-ourworlds-copy.jpg?fit=max&h=350&w=500">
        <h4>k0kro Golf & Ocean Club</h4>
        <p>Kohala,Hawaii</p>
    </div>
    <div class="img">
        <img src="https://www.datocms-assets.com/128889/1714555143-screen-shot-2024-05-01-at-10-18-22-copy.jpg?fit=max&h=350&w=500">
         <h4>Makena Golf & Lake Club</h4>
        <p>Maui,Hawaii</p>
    </div>
</div>
</div>

<footer class="footer-dark shutter-footer">

        <div class="footer-wrapper">

            <div class="footer-icon">
                <img src="https://discoverylandco.com/logo-mark.svg" alt="">
            </div>

            <div class="footer-col">
                <p class="footer-heading">GET IN TOUCH</p>
                <p>(480) 624-5200</p>
                <a href="#">info@discoverylandco.com</a>

                <p class="footer-heading mt">REAL ESTATE</p>
                <a href="#">realestate@discoverylandco.com</a>
            </div>

            <div class="footer-col">
                <a href="#">About</a>
                <a href="#">Our Worlds</a>
                <a href="#">Real Estate</a>
                <a href="#">Experiences</a>
                <a href="#" class="active">Gallery</a>
            </div>

            <div class="footer-col">
                <a href="#">Foundation</a>
                <a href="#">Careers</a>
                <a href="#">Company</a>
                <a href="#">Contact</a>
                <a href="#">Privacy</a>
            </div>

        </div>

        <div class="footer-bottom">
            <p>© Discovery Land Company. All rights reserved.</p>
            <p>Site by Outpost</p>
        </div>

    </footer>
<script src="/scripts/experiences.js"></script>
</body>
</html>