* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Helvetica', Arial, sans-serif; 
}

/*NAV */
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 1000;
    transition: 0.4s;
}

/* Logo*/
.img-logo img {
    height: 50px;
    width: auto;
    object-fit: contain;
}

.nav-right-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-center {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-center a {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    transition: opacity 0.3s;
}

.nav-center a:hover {
    opacity: 0.7;
}
.nav-right {
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px; 
    cursor: pointer;
}

.menu-icon {
    width: 20px;
    height: 1px;
    background-color: #fff;
    display: block;
}

/* White Scroll State */
.nav.white {
    background: #fff;
    height: 80px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.nav.white a { color: #000 !important; }
.nav.white .img-logo img { filter: brightness(0); }
.nav.white .nav-right { border-color: #ccc; }
.nav.white .menu-icon { background-color: #000; }
.image {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.object-fit-cover {
    object-fit: cover;
}
.image-text {
    position: relative;
    text-align: center;
    color:white;
    z-index: 10;
    line-height: 1.2;
}
.line1 {
    font-family:serif;
    font-style: italic;
    font-size: 6vw;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.3)
}

.line2 {
    font-size: 8vw;
    margin-top: 20px;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.3)
}
.quote-container {
    background: #fff;
    padding: 80px 10%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.quote-content {
    max-width: 850px;
    text-align: center;
}

.quote-content h2 {
    font-size: 5vh;
    line-height: 1.2;
    color: #1a1a1a;
}

.quote-content em {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 300;
}
.divider-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 8%;
    background: #fff;
}

.divider-svg::before,
.divider-svg::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #e0dddd;
}

.divider-svg svg {
    margin: 0 30px;
    opacity: 0.8;
}
.exclusive-div {
    padding: 40px 8%;
    background: #fff;
}

.exclusive-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 60px;
}

.exclusive-left {
    flex: 1;
    padding-left: 60px;
}

.mini-tag {
    font-size: 25px;
    color: #000;
}

.desc-text {
    max-width: 400px;
    font-size: 16px;
    line-height: 1.8;
    color: #555;
}

.exclusive-right {
    flex: 1.2;
}

.exclusive-right img {
    width: 80%;
    height: 600px;
    object-fit: cover;
    display: block;
}

.infinite-slider-window {
    width: 100%;

    background: #fff;
    padding: 60px 0;
}

.slider-track {
    display: flex;
    width: calc(450px * 5); 
    height:420px;
    animation:smoothScroll 30s linear infinite;
}

/* Slide */
.slide {
    width: 450px; 
    flex-shrink: 0;
    padding: 0 15px; 
}

.slide img {
    width: 100%;
    height: 410px; 
    object-fit: cover;
    display: block;
}
.carousel-heading{
display: flex;        
    align-items: end;   
    padding-left: 50px;
    padding-top: 20px;
    width:90vh;
    padding-bottom: 3px;
}
.head{
    font-size:2rem;
    padding-left: 50px;
    padding-bottom: 40px;
    font-style:oblique;
    width: auto;
    margin-right: 20px;
}
.carousel-right,.carousel-left{
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    align-items: end;
    color: #333;
    padding: 10px;
    transition: 0.3s;
}

/* Animation Logic: */ 
@keyframes smoothScroll { 
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-2250px); 
    }
}
/* Image-next */
#image{
    display: flex;
    align-items: center;
    overflow: hidden;
    height:750px;
}
.story{
    background-color: black;
}